.ce-paragraph {
  line-height: 1.6em;
  outline: none;
}

.ce-paragraph[data-placeholder]:empty::before{
content: attr(data-placeholder);
color: #707684;
font-weight: normal;
opacity: 0;
}

.ce-paragraph[data-placeholder]:focus:empty::before{
  opacity: 1;
}

.ce-paragraph p:first-of-type{
  margin-top: 0;
}

.ce-paragraph p:last-of-type{
  margin-bottom: 0;
}